---
import { getEntry } from 'astro:content';
import { Icon } from "astro-icon/components";
import { getPreviousLesson, getNextLesson } from "../../utils";

const { lesson, class: classList } = Astro.props;

const previousLesson = await getPreviousLesson(lesson);
const nextLesson= await getNextLesson(lesson);

const chapterOfPreviousLesson = previousLesson && (await getEntry(previousLesson.data.chapter))
const chapterOfNextLesson = nextLesson && (await getEntry(nextLesson.data.chapter))

const previousLessonUrl = previousLesson && `/course/${previousLesson.slug}/`;
const nextLessonUrl = nextLesson && `/course/${nextLesson.slug}/`;
---
<div id="desktop-navigation-arrows"
     class:list={[
         classList, 'hidden lg:flex items-center space-x-4 justify-between not-prose',
         {'!justify-start': previousLesson && !nextLesson},
         {'!justify-end': !previousLesson && nextLesson}
     ]}>
    {!!previousLesson &&
            <a href={previousLessonUrl} class="flex items-center justify-start w-full max-w-72 rounded-2xl text-base-content bg-transparent border border-base-content/20 hover:bg-base-content/10 hover:shadow-xl h-20">
                <Icon name="solar:arrow-left-outline" class="size-5 ms-6" />
                <div class="flex flex-col ms-4 items-start justify-start">
                    <span class="text-sm">{chapterOfPreviousLesson.data.title}</span>
                    <span class="text-lg font-bold">{previousLesson.data.index}. {previousLesson.data.title}</span>
                </div>
            </a>
    }

    {!!nextLesson &&
            <a href={nextLessonUrl} class="flex items-center justify-end w-full max-w-72 rounded-2xl text-base-content bg-transparent border border-base-content/20 hover:bg-base-content/10 hover:shadow-xl h-20">
                <div class="flex flex-col me-4 items-end justify-end">
                    <span class="text-sm">
                        {chapterOfNextLesson.data.title}
                    </span>
                    <span class="text-lg font-bold">{nextLesson.data.index}. {nextLesson.data.title}</span>
                </div>
                <Icon name="solar:arrow-right-outline" class="size-5 me-6" />
            </a>
    }
</div>


<div id="mobile-navigation-arrows"
     class:list={["lg:hidden btm-nav btm-nav-sm bg-custom-gradient bg-opacity-50 bg-fixed border-t border-gray-700 border-opacity-80"]}>
    <a href={previousLessonUrl} class="btn-ghost" disabled={!previousLesson}>
        <Icon name="solar:alt-arrow-left-outline" class="size-6" />
    </a>

    <a href={nextLessonUrl} class="btn-ghost" disabled={!nextLesson}>
        <Icon name="solar:alt-arrow-right-outline" class="size-6" />
    </a>
</div>