---
import { getEntry } from "astro:content";
import { Icon } from "astro-icon/components";
import { getPreviousLesson, getNextLesson } from "../../utils";

const { lesson, class: classList } = Astro.props;

const previousLesson = await getPreviousLesson(lesson);
const nextLesson = await getNextLesson(lesson);

const chapterOfPreviousLesson =
  previousLesson && (await getEntry(previousLesson.data.chapter));
const chapterOfNextLesson =
  nextLesson && (await getEntry(nextLesson.data.chapter));

const previousLessonUrl = previousLesson && `/course/${previousLesson.slug}/`;
const nextLessonUrl = nextLesson && `/course/${nextLesson.slug}/`;
---

<div
  id="desktop-navigation-arrows"
  class:list={[
    classList,
    "not-prose hidden items-center justify-between space-x-4 lg:flex",
    { "!justify-start": previousLesson && !nextLesson },
    { "!justify-end": !previousLesson && nextLesson },
  ]}
>
  {
    !!previousLesson && (
      <a
        href={previousLessonUrl}
        class="flex h-20 w-full max-w-72 items-center justify-start rounded-2xl border border-base-content/20 bg-transparent text-base-content hover:bg-base-content/10 hover:shadow-xl"
      >
        <Icon name="solar:arrow-left-outline" class="ms-6 size-5" />
        <div class="ms-4 flex flex-col items-start justify-start">
          <span class="text-sm">{chapterOfPreviousLesson.data.title}</span>
          <span class="text-lg font-bold">
            {previousLesson.data.index}. {previousLesson.data.title}
          </span>
        </div>
      </a>
    )
  }

  {
    !!nextLesson && (
      <a
        href={nextLessonUrl}
        class="flex h-20 w-full max-w-72 items-center justify-end rounded-2xl border border-base-content/20 bg-transparent text-base-content hover:bg-base-content/10 hover:shadow-xl"
      >
        <div class="me-4 flex flex-col items-end justify-end">
          <span class="text-sm">{chapterOfNextLesson.data.title}</span>
          <span class="text-lg font-bold">
            {nextLesson.data.index}. {nextLesson.data.title}
          </span>
        </div>
        <Icon name="solar:arrow-right-outline" class="me-6 size-5" />
      </a>
    )
  }
</div>

<div
  id="mobile-navigation-arrows"
  class:list={[
    "bg-gradient-main btm-nav btm-nav-sm border-t border-gray-700 border-opacity-80 bg-opacity-50 bg-fixed lg:hidden",
  ]}
>
  <a href={previousLessonUrl} class="btn-ghost" disabled={!previousLesson}>
    <Icon name="solar:alt-arrow-left-outline" class="size-6" />
  </a>

  <a href={nextLessonUrl} class="btn-ghost" disabled={!nextLesson}>
    <Icon name="solar:alt-arrow-right-outline" class="size-6" />
  </a>
</div>
