---
import { getCollection, getEntry } from 'astro:content';
import { Icon } from "astro-icon/components";

import NavigationArrows from "../../../components/course/NavigationArrows.astro";
import ContentLayout from "../../../layouts/ContentLayout.astro";

export async function getStaticPaths({ paginate }) {
    // Fetch all lessons including meta.md files
    const lessons = await getCollection('course_lessons');

    // Generate paths for each lesson
    return lessons.map(lesson => {

        // Split the slug into chapter and lesson slugs (because Astro doesn't offer easy access to each part of the slug)
        let [chapterSlug, lessonSlug] = lesson.slug.split("/");

        return {
            params: { chapter: chapterSlug, lesson: lessonSlug },
            props: { lesson }
        }
    });
}

const { lesson } = Astro.props;
const chapter = await getEntry(lesson.data.chapter);

const { Content: LessonContent } = await lesson.render();

let chapterTitle = chapter.data.title;
let lessonTitle = lesson.data.title;
---
<ContentLayout title={`${lessonTitle} - ${chapterTitle}`}>
    <div slot="header">
        <span class="text-base-content/80 text-sm">
            {chapterTitle}
            <Icon name="mdi:chevron-right" class="inline-block size-4 mr-1" />
        </span>

        <h1 class="text-4xl mt-4">
            {lessonTitle}
        </h1>
    </div>

    <div slot="content">
        <LessonContent />

        <NavigationArrows class="mt-12" lesson={lesson} />
    </div>

</ContentLayout>
