---
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";
import { convertToRoman } from "../utils";

const { title = 'Course', class: classList, ...rest} = Astro.props;

// Fetch content collections
let chapters = await getCollection('course_chapters');
let lessons = await getCollection('course_lessons');
let blogs = await getCollection('blogs');

// Sort chapters and lessons by index
chapters.sort((a, b) => a.data.index - b.data.index);
lessons.sort((a, b) => a.data.index - b.data.index);

// Processing chapters and lessons data to create a structured array for UI rendering
let chaptersArray = chapters.map(chapter => {
    return {
        ...chapter,
        lessons: lessons.filter(lesson => lesson.data.chapter.id === chapter.id)
    }
});
---

<nav id="side-nav" class={`${classList} side-nav min-h-screen w-96 max-lg:bg-custom-gradient max-lg:bg-fixed lg:backdrop-blur-xl text-base-content border-r border-base-100`} {...rest}>
    <ul class="menu text-[1rem] space-y-2"
        _="init add .active to <a[href*='${window.location.pathname}']/>">

        {/*
        Course Menu
        */}
        <li>
            <details id="course-navigation" open>
                <summary class="font-bold">
                    <Icon name="ri:graduation-cap-fill" class="size-5 text-warning" />
                    Course
                </summary>
                <ul>
                    {chaptersArray.map(chapter => {
                        return (
                                <li>
                                    <span class="text-[1rem] menu-title text-base-content/80">
                                        {convertToRoman(chapter.data.index)}. {chapter.data.title}
                                    </span>
                                    <ul class="mt-2 space-y-2">
                                        {chapter.lessons.map((lesson) => {
                                            return (
                                                    <li title={lesson.data.title}>
                                                        {/* Bold and highlight active lesson */}
                                                        <a href={`/course/${lesson.slug}`}>
                                                            <span class="text-ellipsis overflow-hidden">
                                                                {lesson.data.index}. {lesson.data.title}
                                                            </span>
                                                        </a>
                                                    </li>
                                            )
                                        })}
                                    </ul>
                                </li>
                        )
                    })}
                </ul>
            </details>
        </li>

        {/*
        Blog Menu
        */}
        <li>
            <details id="blog-navigation" open>
                <summary class="font-bold">
                    <Icon name="ri:file-text-fill" class="size-5 text-orange-600" />
                    Blogs
                </summary>
                <ul class="mt-2">
                    {blogs.map(blog => {
                        return (
                                <li title={blog.data.title}>
                                    <a href={`/blogs/${blog.slug}`}>
                                        <span class="text-ellipsis overflow-hidden">
                                            {blog.data.title}
                                        </span>
                                    </a>
                                </li>
                        )
                    })}
                </ul>
            </details>
        </li>
    </ul>
</nav>
