---
import {Image} from "astro:assets";

const { class: classList, logoImage, logoAlt, title, tagline } = Astro.props;
---

<div class:list={[classList, "flex flex-col items-center lg:flex-row"]}>
    <Image src={logoImage} alt={logoAlt} width="250" height="250" class="w-16 h-16 mb-3 m-0 lg:mb-0 lg:me-4" />

    <div class="flex flex-col">
        <h1 class="text-5xl text-gray-300 text-center font-['Bebas_Neue'] tracking-wide xl:tracking-wider mb-0 lg:whitespace-nowrap">
            {title}
        </h1>
        <span class="text-xl text-base-content/80 text-center lg:text-start">
            {tagline}
        </span>
    </div>
</div>